h1 {color: red; font-size: 24; font-style: bold; text-align: center;}
.duzen1 {
    text-align: center;    
}
.bilgi {
    text-align: center;
}
.aletler {
    text-align: center;
    color: yellow;
}

ul>li:first-child{
    color: green
}

ul> li:last-child{
    color:yellow
}
h1 {color: red; font-size: 24; font-style: bold; text-align: center;}
.duzen1 {
    text-align: center;    
}
.bilgi {
    text-align: center;
}
.aletler {
    text-align: center;
    color: yellow;
}